.vs/
packages/

*.suo
*.user
_ReSharper.*

Firebase.Authentication/bin/
Firebase.Authentication/obj/
Firebase.Authentication/Properties/

Firebase.Authentication.Tests/bin/
Firebase.Authentication.Tests/obj/
Firebase.Authentication.Tests/Properties/

Firebase.Authentication.WPF/bin/
Firebase.Authentication.WPF/obj/
Firebase.Authentication.WPF/Properties/

Samples/Firebase.Authentication.Sample.WPF/bin/
Samples/Firebase.Authentication.Sample.WPF/obj/
Samples/Firebase.Authentication.Sample.WPF/Properties/

Development/